# Hidden files
.*
!.gitignore
!.gitkeep

# Build outputs
**/build/**
**/target/**
build/
target/
/build.log
/out/**
**/logs/**
*.gz
build.log
build.err

# OS files
Thumbs.db
Desktop.ini

# Package files
*.jar
*.war

# Output files
*.class
**/classes/**
classes/

# IDE Files
*.iws
*.iml
*.ipr

# python execute Files
*.pyc

# tmux log
tmux-*.log

# log file
*.log

# btm log
*.tlog

# ignore diff orig file
*.orig

# ignore gradle wrapper
gradle/wrapper/**
gradlew

# erl crash dump
erl_crash.dump

dump.rdb

local.properties

*.apk
!android/lib/*.jar